extends layout

block content
  nav.navbar.is-transparent
    .navbar-brand
      a.navbar-item(href='/') Audio DB
      .navbar-item
        p.subtitle.is-3= currentSong.title

    .navbar-menu
      .navbar-end
        .navbar-item.has-dropdown.is-hoverable
          a.current-song.navbar-link= currentSong.title
          .navbar-dropdown.is-boxed
            each song in songs
              if (song.title != currentSong.title && !song.isDeleted)
                a(href='/s/' +parent.name + '/' + song.title+ '/' + song._id).navbar-item.is-hoverable= song.title
        .navbar-item
          span in:
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link= parent.name
          .navbar-dropdown.is-boxed
            each project in projects
              if (project.name != parent.name && !project.isDeleted)
                a(href='/p/'+project.name +'/' + project._id).navbar-item.is-hoverable= project.name

  .dropzone-container
    form#dropzone.dropzone(action='/file_upload')
      input.hidden-input(name='song_id', value=currentSong._id)
    #file-msg.modal
      .modal-background
      .modal-content
        .new-note-container
          .field
            label.label.is-small Note title
            .control

          .field.is-grouped.is-grouped-centered
            .control
              a.button.is-primary.is-small(onclick='saveNote()') Save
            .control
              a.button.is-light.is-small(onclick='closeModal()') Cancel
      button.modal-close.is-large(aria-label='close', onclick='closeModal()')


  #song-container(data-songid=currentSong._id).main-container
    //h1.subtitle.is-2= currentSong.title
    .main-container
      .tile.is-ancestor
        .tile.is-vertical.is-12
          .tile
            .tile.is-parent.is-6
              article.tile.is-child.notification
                p.subtitle LYRICS
                .control
                  textarea#lyrics.textarea(rows=18)= currentSong.lyrics
            .tile.is-parent.is-vertical.is-6
              article.tile.is-child.notification
                p.subtitle AUDIO
                ul.track-list
                  each track in audio
                    li.track-container
                      .tracktitle: span= track.title
                      .audio-container
                        audio(controls)
                          source(src='/uploads/'+track.filename)


              article.tile.is-child.notification
                .tabs.is-toggle.is-fullwidth
                  ul
                    -var index = 1
                    -var firstNote = ''
                    if notes
                      each note in notes
                        if index==1
                          -firstNote = note
                        li(class=index==1?'is-active':'')
                          a(data-noteid=note._id).note-link= note.title
                        -index++
                    li.add-note
                      .field
                        .control
                          button.button.is-small(onclick='addNote()') +
                #new-note-msg.modal
                  .modal-background
                  .modal-content
                    .new-note-container
                      .field
                        label.label.is-small Note title
                        .control
                          input#note-title.input.is-small(type='text')

                      .field.is-grouped.is-grouped-centered
                        .control
                          a.button.is-primary.is-small(onclick='saveNote()') Save
                        .control
                          a.button.is-light.is-small(onclick='closeModal()') Cancel
                  button.modal-close.is-large(aria-label='close', onclick='closeModal()')


                .note-container
                  textarea#note-content.textarea.is-fullwidth(rows=8, data-thisnote=firstNote._id)= firstNote.content

          .tile.is-parent
            article.tile.is-child.notification.instrument-wrapper
              .subtitle INSTRUMENTS
              .instrument-container.content
                ul.instrument-list
                  li.inst-done #drums
                  li #bass
                  li.inst-disabled #synth_pad
                  li.has-note #synth_lead
                  li #e-git

                  li.has-note.inst-done #vocals
          .tile.is-parent
            article.tile.is-child.notification
              p.subtitle IMAGES
              .image-container.content
                each image in images

                  img(src='/uploads/'+image.filename)

