extends layout

block content
  nav.navbar.is-transparent
    .navbar-brand
      a.navbar-item(href='/') Audio DB

    .navbar-menu
      .navbar-end
        .navbar-item.has-dropdown.is-hoverable
          a.current-song.title.navbar-link= currentSong.title
          .navbar-dropdown.is-boxed
            each song in songs
              if (song.title != currentSong.title && !song.isDeleted)
                a(href='/s/' +parent.name + '/' + song.title+ '/' + song._id).navbar-item.is-hoverable= song.title
        .navbar-item
          span in:
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link= parent.name
          .navbar-dropdown.is-boxed
            each project in projects
              if (project.name != parent.name && !project.isDeleted)
                a(href='/p/'+project.name +'/' + project._id).navbar-item.is-hoverable= project.name

  #song-container(data-songid=currentSong._id).main-container
    //h1.subtitle.is-2= currentSong.title
    .main-container
      .tile.is-ancestor
        .tile.is-vertical.is-12
          .tile
            .tile.is-parent.is-5
              article.tile.is-child.notification
                p.subtitle Lyrics
                .control
                  textarea#lyrics.textarea(rows=18)= currentSong.lyrics
            .tile.is-parent.is-vertical.is-7
              article.tile.is-child.notification
                p.subtitle Audio
                each track in currentSong.tracks
                  .sc-container(id=track)

                    iframe(width='100%', height='80', scrolling='no', frameborder='no', allow='autoplay', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' + track + '%3Fsecret_token%3Ds-RyZe8&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=false')
                    a(onclick='deleteTrack("'+track+'")').delete
                .field.has-addons
                  .control
                    input#audio-input.input.is-small(type='text', name='track', placeholder='New SC trackID')
                  .control
                    button.button.is-small(onclick='addTrack()') Add
              article.tile.is-child.notification
                .tabs.is-toggle.is-fullwidth
                  ul
                    -var index = 1
                    -var firstNote = ''
                    if notes
                      each note in notes
                        if index==1
                          -firstNote = note
                        li(class=index==1?'is-active':'')
                          a(data-noteid=note._id).note-link= note.title
                        -index++
                    li.add-note
                      .field
                        .control
                          button.button.is-small(onclick='addNote()') +
                #new-note-msg.modal
                  .modal-background
                  .modal-content
                    .new-note-container
                      .field
                        label.label.is-small Note title
                        .control
                          input#note-title.input.is-small(type='text')

                      .field.is-grouped.is-grouped-centered
                        .control
                          a.button.is-primary.is-small(onclick='saveNote()') Save
                        .control
                          a.button.is-light.is-small(onclick='closeModal()') Cancel
                  button.modal-close.is-large(aria-label='close', onclick='closeModal()')


                .note-container
                  textarea#note-content.textarea.is-fullwidth(rows=8, data-thisnote=firstNote._id)= firstNote.content


          .tile.is-parent
            article.tile.is-child.notification
              p.subtitle Images
              .content
              // Content
      //.tile.is-parent
        //article.tile.is-child.notification.is-success
        //  .content
        //    p.title Tall tile
        //    p.subtitle With even more content
        //    .content
        //      // Content



    //.tile.is-vertical.is-8
    //  .tile.is-parent
    //    .left-container.tile.is-child.is-one-third
    //      .subtitle.is-4 Lyrics
    //      .control
    //        textarea#lyrics.textarea(rows=14)= currentSong.lyrics
    //  .right-container.tile
    //    .audio-container
    //      .subtitle.is-4 Audio
    //    .img-container
    //      .subtitle.is-4 Images